<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @home, partial: "card", as: :home %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "homes/home_rooms" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "homes/home_furniture_items" %>
  </div>
</div>
  <!-- Show Page Customization end -->
