<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Home
  </div>

  <ul class="list-group list-group-flush">
    <% @furniture.home.each do |home| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/homes/<%= home.id %>">
          <%= home %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
